
@{
    ViewBag.Title = "dropsucces";
}

<h3>


    <div class="alert alert-success">
        Mail as been Sent to the Faculty Successfully!
    </div>
</h3>
<p>
    @Html.ActionLink("Back", "Fetch")
</p>

