
@{
    ViewBag.Title = "Succes";
}

<h3 style="margin-top:100px">
    <div class="alert alert-success">
        Records are Successfully Updated
    </div>
    <p >

        @Html.ActionLink("Back", "Fetch")
    </p>
</h3>


