
@{
    ViewBag.Title = "Invaild";
}

<h3 style="margin-top:100px">
    <div class="alert alert-danger">
        Invalid Access! Try again
    </div>
</h3>
<div>

    <ul>
        <li> @Html.ActionLink("Go Back", "LoginDetails")</li>
        <li>@Html.ActionLink("Back to SignUp", "Signup")</li>

    </ul>

   

    
</div>

