
@{
    ViewBag.Title = "register";
}

<h3 style="margin-top:100px">
    <div class="alert alert-success">
       Registration Successfully Done
    </div>
    <p>

        @Html.ActionLink("Back to Login", "LoginDetails")
    </p>
</h3>



